

@media screen and (min-width: 768px){
}

@media screen and (min-width: 1025px){
    .section__restaurants {
        display: flex;
        justify-content: center;
        .wrapper{
            max-width: 90em !important;
        }
    }
    
    .articles{
        flex-flow: row wrap !important;
        article{
            width: calc(50% - 2em) !important;
        }
    }
    section.section__top ul{
        flex-flow: row wrap !important;
        column-gap: 2em !important;
        justify-content: center;
        width: 100%;
        li{
            width: calc(33% - 4em) !important;
        }
    }
}